.single-product{
    width: 350px;
    height: 677px;
    border-radius: 20px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Galdeano', sans-serif;
    background: #e7e6eb63;
}
.single-product p{
    padding: 8px;
}
.single-product .min-order, .quantity, .price{
    font-size: 21px;
    color: #1d1919;
}
.product-img{
    width: 340px;
    height: 240px;
    padding: 18px;
    border-radius: 23px;
}
.detail{
    color: #413737;
}

.name{
    color: black;
    font-weight: bold;
}

.single-product .purchase-btn{
    background: none;
    color: white;
    padding: 8px 44px;
    background-color: #0d3230;
    border-radius: 10px;
    font-size: 17px;
    background: #17153c;
    border: none;
}

.single-product .purchase-btn:hover{
    background-color: black;
    color: white;
    transition: all 0.9s ease-in-out;
}