.first-heading-name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Milonga', cursive;
    color: #f8e6e6;
}
.second-heading-name{
    font-size: 29px;
    font-family: 'Milonga', cursive;
    color: #f8e6e6;
}
.third-heading-name{
    font-size: 29px;
    font-family: 'Milonga', cursive;
    color: #f8e6e6;
}

.wheel{
    font-size: 23px;
    animation: rotation 3s cubic-bezier(0.19, 0.16, 0.54, 0.54) infinite;
    color: #f8e6e6;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.menu-link{
    font-family: 'Galdeano', sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 47px;
    font-size: 19px;
    font-weight: bold;
}

.menu-link:hover{
    color: white;
}

.display-name{
    border: 1px solid black;
    padding: 3px 15px;
    border-radius: 11px;
    background: orange;
    font-family: 'Galdeano';
}