.single-product{
    width: 350px;
    height: 664px;
    border: 1px solid #423f3f;
    border-radius: 20px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Galdeano', sans-serif;
}
.single-product p{
    padding: 8px;
}
.single-product .min-order, .quantity, .price{
    font-size: 21px;
    color: #a3a1a1;
}
.product-img{
    width: 340px;
    height: 240px;
    padding: 18px;
    border-radius: 23px;
}
.detail{
    color: #5c5454;
}

.name{
    color: #a3a1a1;
}

.single-product .purchase-btn{
    background: none;
    color: white;
    padding: 3px 28px;
    background-color: #0d3230;
    border: 2px solid #6f6d6d;
    font-size: 16px;
}

.single-product .purchase-btn:hover{
    border: 2px solid whitesmoke;
    transition: all 0.9s ease-in-out;
}