.all-order-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}
.all-order{
    width: 324px;
    background: #c4e6db;
    text-align: center;
    font-family: 'Galdeano';
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.ship-btn{
    border: none;
    background: orange;
    color: white;
    padding: 4px 24px;
    border-radius: 9px;
}
.unpaid-btn{
    border: none;
    background: #a76332;
    color: white;
    padding: 4px 24px;
    border-radius: 9px;
    margin-right: 20px;
}
.cancel-order-btn{
    border: none;
    background: #e76b13;
    color: white;
    padding: 4px 24px;
    border-radius: 9px;
}

@media (max-width:1200px) {
    .all-order-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin-top: 25px;
    }
}
@media (max-width:992px) {
    .all-order-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin-top: 25px;
    }
}
@media (max-width:768px) {
    .all-order-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin-top: 25px;
    }
}
@media (max-width:576px) {
    .all-order-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin-top: 25px;
    }
}