.summary-section:before{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.summary-section{
    margin-top: 100px;
    position: relative;
    background-image: url('https://media.istockphoto.com/photos/industrial-background-gears-and-motor-chains-picture-id1266014337?b=1&k=20&m=1266014337&s=170667a&w=0&h=oEgQd9lSfxhzoQYNqguyGQTbG-SWTfuEZ5mUT6QFK6g=');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 26px;
}
.summary-heading{
    text-align: center;
    font-family: 'Milonga', cursive;
    font-size: 32px;
    color: white;
    margin-bottom: 18px;
    position: relative;
}
.summary-line{
    display: block;
    width: 147px;
    background: white;
    height: 2px;
    margin: auto;
    position: relative;
}
.summary-divider{
    display: block;
    width: 12px;
    height: 12px;
    background: orange;
    position: absolute;
    top: -5px;
    left: 67px;
    border-radius: 50%;
}
.summary-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 72px;
}

.summary-container div{
    height: 200px;
    width: 200px;
}

.summary-no{
    color: white;
    font-size: 40px;
    font-family: 'Galdeano';
    position: relative;
}

.summary-name{
    font-size: 35px;
    color: rgb(141, 251, 255);
    font-family: 'Galdeano';
    position: relative;
}

.break-line{
    background: orange;
    height: 4px;
    width: 58px;
    display: block;
    position: relative;
}

.summary-icon{
    color: #c3b9b9;
    font-size: 47px;
    position: relative;
}

.summary-info{
    height: 192px;
    width: 1000px;
    margin: 30px auto;
    border-radius: 13px;
    box-shadow: 0px 0px 23px -10px cadetblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
    background-color: #1d1717;
}

.summary-info-heading{
    font-family: 'Galdeano', sans-serif;
    color: white;
}

.quote-btn{
    border: none;
    background: #2c2c69;
    color: white;
    padding: 10px 28px;
    font-family: 'Milonga';
    border-radius: 10px;
    font-size: 17px;
}

.contact-btn{
    border: none;
    background: #fb7409;
    padding: 9px 16px;
    border-radius: 8px;
    font-size: 17px;
    color: white;
    margin-left: 23px;
    font-family: 'Milonga';
}