.feedback-section{
    margin-top: 99px;
}

.feedback-heading{
    text-align: center;
    font-family: 'Milonga', cursive;
    font-size: 32px;
    color: black;
    margin-bottom: 18px;
}

.feedback-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin-top: 57px;
}

