.paybtn {
    border: none;
    background: orange;
    border-radius: 10px;
    padding: 2px 21px;
    font-family: 'Milonga';
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.paybtn:hover{
    color: white;
}

.cancelbtn {
    border: none;
    background: rgb(119, 82, 12);
    border-radius: 10px;
    padding: 2px 21px;
    font-family: 'Milonga';
    color: white;
    font-size: 16px;
}

.modal-txt {
    padding: 31px;
    text-align: center;
    font-size: 21px;
    font-family: 'Galdeano';
    
}

.modal-btn-success {
    border: none;
    background: orange;
    margin: 21px;
    padding: 3px 31px;
    border-radius: 9px;
    font-family: 'Galdeano';
    font-weight: bold;
    font-size: 18px;
}

.modal-btn-false {
    border: none;
    background: rgb(99, 66, 6);
    margin: 21px;
    padding: 3px 31px;
    border-radius: 9px;
    font-family: 'Galdeano';
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.modal-body {
    margin: auto;
    padding: 10px;
}

.paid-btn{
    border: none;
    background: greenyellow;
    border-radius: 9px;
    font-family: 'Milonga';
    padding: 5px 27px;
    font-weight: bold;
}

.paymentid-txt{
    font-family: 'Galdeano';
    font-size: 17px;
}