.nested-link-container{
    text-align: center;
}

.nested-link{
    text-decoration: none;
    color: black;
    font-family: 'Galdeano';
    font-size: 19px;
    font-weight: bold;
    margin: 20px 30px;
}

.nested-link:hover{
    color: orange;
}

.home-link{
    text-decoration: none;
    color: white;
    font-family: 'Galdeano';
    background: #1d1d59;
    padding: 8px;
    border-radius: 10px;
}

.home-link:hover{
    color: white;
    background-color: black;
    transition: all 0.8s;
}