.footer-section{
    background-color: #272727;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.footer-container .single-footer{
    width: 360px;
    height: 330px;

}

.single-footer-icon{
    color: orange;
    font-size: 22px;
}

.contact-no, .contact-email{
    font-family: 'Galdeano';
    font-size: 21px;
    margin-left: 20px;
}

.second-footer-heading{
    font-family: 'Milonga';
}

.list{
    line-height: 46px;
    list-style: none;
    font-family: 'Galdeano';
}

.list-item{
    display: flex;
    align-items: center;
    font-size: 19px;
}
.list-icon{
    color: orange;
    font-size: 22px;
}

.latest-post-icon{
    color: orange;
}

.latest-post{
    margin-left: 26px;
    margin-top: 17px;
    font-family: 'Galdeano';
}

.date{
    margin-left: 13px;
    font-family: 'Galdeano';
    font-size: 17px;
}

.question{
    font-size: 20px;
}

.horizontal-line{
    width: 221px;
    height: 3px;
    color: #e5e5e5;
    margin-left: 23px;
}

.footer-end{
    font-family: 'Galdeano';
    font-size: 18px;
}

.telegram-icon{
    color: orange;
    font-size: 23px;
}
.input-field-container{
    width: 249px;
    padding: 11px 0px;
    border-radius: 34px;
    background: #444444;
}
.input-field{
    background: none;
    border: none;
    border-radius: 34px;
    padding-left: 16px;
    outline: none;
    color: white;
}

.social-link{
    font-family: 'Galdeano';
    font-size: 22px;
}

.social-icon{
    color: orange;
    margin: 6px 11px;
    font-size: 20px;
}

.copyright-section{
    background: black;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Galdeano';
    font-size: 20px;
}