.enquiry-section {
    padding: 100px;
    background: url('https://media.istockphoto.com/photos/bicycle-chain-background-with-red-light-picture-id875049284?b=1&k=20&m=875049284&s=170667a&w=0&h=6MaXK4FnqCsTVj9eDkKx6ZfklMMIuT1HJMqdiUJWlao=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 67px;
}

.enquiry-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    background-color: white;
}


.enquiry-heading {
    font-family: 'Milonga', cursive;
}

.enquiry-section input {
    border: none;
    border-bottom: 1px solid #c7bbbb;
    font-family: 'Galdeano', sans-serif;
    width: 275px;
    outline: none;
    background: none;
    color: black;
}

.enquiry-container .email {
    margin-left: 42px;
    background: none;
    color: black;
}

.enquiry-form {
    display: flex;
}

.select-container {
    width: 275px;
    border: none;
    border-bottom: 1px solid #c7bbbb;
    margin-left: 42px;
}

.select {
    outline: none;
    width: 275px;
    border: none;
    background: none;

}

.text-area {
    width: 593px;
    border: none;
    border-bottom: 1px solid #c7bbbb;
    outline: none;
    font-family: 'Galdeano', sans-serif;
    background: none;
    color: black;
}

.enquiry-btn {
    border: none;
    background: #19194e;
    color: white;
    padding: 13px 39px;
    font-family: 'Galdeano';
    font-size: 17px;
}

@media (max-width:992px) {
    .enquiry-container {
        grid: none;
        padding: 20px;
    }
}

@media (max-width:768px) {
    .enquiry-container {
        grid: none;
        padding: 20px;
    }

    .enquiry-container img {
        width: 300px;
    }

    .enquiry-field {
        width: 300px;
    }

    .enquiry-form {
        display: block;
    }

    .text-area {
        width: auto;
    }
}

@media (max-width:576px) {
    .enquiry-section {
        padding: 41px;
        margin-top: 67px;
        display: flex;
        justify-content: center;
    }
    
    .enquiry-container {
        width: 219px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        background-color: white
    }
    .enquiry-container img {
        width: 120px;
    }

    .enquiry-field {
        width: 150px;

    }

    .enquiry-form {
        display: block;
    }

    .text-area {
        width: auto;
    }

    .enquiry-section input {
        width: 120px;
    }

    .select {
        width: 125px;
    }

    .text-area {
        width: 150px;
    }

    .select-container {
        width: 125px;
    }

}